/*!***********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??clonedRuleSet-3.use[1]!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-3.use[2]!./node_modules/sass-loader/dist/cjs.js!./extensions/Fnet/temp/style-ext-ah-install.scss ***!
  \***********************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 100;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R8WXZ0og.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R8WXh0pg.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R8WXZ0oA.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 200;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9WXZ0og.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9WXh0pg.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9WXZ0oA.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9WXZ0og.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9WXh0pg.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9WXZ0oA.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9WXZ0og.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9WXh0pg.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9WXZ0oA.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9WXZ0og.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9WXh0pg.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9WXZ0oA.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6WXZ0og.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6WXh0pg.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6WXZ0oA.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6WXZ0og.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6WXh0pg.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6WXZ0oA.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR6WXZ0og.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR6WXh0pg.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR6WXZ0oA.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 900;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16WXZ0og.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16WXh0pg.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16WXZ0oA.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Xw3aX4.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Xw5aXo.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Xw3aXw.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Hw3aX4.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Hw5aXo.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Hw3aXw.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw3aX4.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw5aXo.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw3aXw.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aX4.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXw.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw3aX4.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aXo.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw3aXw.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w3aX4.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w5aXo.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu173w3aXw.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w3aX4.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXo.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w3aXw.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr73w3aX4.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr73w5aXo.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr73w3aXw.woff) format("woff");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC73w3aX4.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC73w5aXo.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC73w3aXw.woff) format("woff");
}
#ext-ah-install.gVccqhKs {
  background: rgba(15, 217, 128, 0.4);
  height: 36px;
  display: flex;
  animation: cst-show 0.3s ease-in;
  animation-fill-mode: forwards;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
#ext-ah-install.gVccqhKs * {
  box-sizing: border-box;
  font-family: "Montserrat", "Open Sans", helvetica, sans-serif !important;
}
@keyframes cst-show {
  0% {
    margin-top: -36px;
  }
  100% {
    margin-top: 0;
  }
}
#ext-ah-install.gVccqhKs.gVccqhKs-cst-close {
  animation: cst-hide 0.3s ease-in;
  animation-fill-mode: forwards;
}
@keyframes cst-hide {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -36px;
    display: none;
  }
}
#ext-ah-install.gVccqhKs .gVccqhKs-logo div {
  display: flex;
  height: 28px;
  width: 28px;
  justify-content: flex-start;
}
#ext-ah-install.gVccqhKs .gVccqhKs-logo div img {
  height: 28px;
  width: 28px;
  display: none;
}
#ext-ah-install.gVccqhKs .gVccqhKs-desc {
  font-size: 14px;
}
#ext-ah-install.gVccqhKs .gVccqhKs-install {
  max-width: 400px;
  min-width: 100px;
  width: 100%;
}
#ext-ah-install.gVccqhKs .gVccqhKs-install :first-child {
  margin-bottom: 2px;
  font-size: 12px;
}
#ext-ah-install.gVccqhKs .gVccqhKs-install .gVccqhKs-progress-bar {
  width: 100%;
  height: 5px;
  background: rgba(15, 217, 128, 0.5);
  border-radius: 2px;
  overflow: hidden;
}
#ext-ah-install.gVccqhKs .gVccqhKs-install .gVccqhKs-progress-bar .gVccqhKs-val {
  border-radius: 2px;
  height: 5px;
  background: #8bd2b5;
  width: 0%;
  animation: cst-progress-bar 4s ease-in;
  animation-fill-mode: forwards;
}
@keyframes cst-progress-bar {
  0% {
    width: 0%;
  }
  5% {
    width: 4%;
  }
  30% {
    width: 20%;
  }
  45% {
    width: 30%;
  }
  60% {
    width: 60%;
  }
  62% {
    width: 60%;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
#ext-ah-install.gVccqhKs .gVccqhKs-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#ext-ah-install.gVccqhKs .gVccqhKs-buttons button {
  font-size: 14px;
  font-family: "Montserrat", "Open Sans", helvetica, sans-serif !important;
  border: none;
  outline: none;
  height: 28px;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  white-space: nowrap;
}
#ext-ah-install.gVccqhKs .gVccqhKs-buttons button.gVccqhKs-btn-1 {
  background: #8bd2b5;
  color: #ffffff;
}
#ext-ah-install.gVccqhKs .gVccqhKs-buttons button.gVccqhKs-btn-2 {
  background: none;
  color: #ffffff;
  border: 1px solid #8bd2b5;
}

/*# sourceMappingURL=ext-ah-install.css.map*/